@model IEnumerable<MS.Gamification.Areas.Admin.ViewModels.ManageUserViewModel>
@{
    ViewBag.Title = "ManageUsers";
}
@section styles
{
    @Styles.Render("~/Content/datatables")
}
<h2>Manage Users</h2>

@Html.ValidationSummary(false)

<table class="table table-striped table-hover" id="users">
    <thead>
    <tr>
        <th>User name</th>
        <th>Email</th>
        <th colspan="3">Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
        {
        <tr>
            <td>@user.Username</td>
            <td>@user.Email</td>
            <td>
                @if (user.EmailVerified)
                    {
                    <i class="fa fa-envelope"></i>
                    }
            </td>
            <td>
                @if (user.HasValidPassword)
                    {
                    <i class="fa fa-key"></i>
                    }
            </td>
            <td>
                @if (user.AccountLocked)
                    {
                    <i class="fa fa-lock"></i>
                    }
            </td>
            <td>
                @Html.ActionLink("Manage", "ManageUser", new {id = user.Id}, new {@class = "btn btn-xs btn-default"})
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            $('#users').DataTable();
        });
    </script>

}
