@model MS.Gamification.Areas.Admin.ViewModels.ManageUserViewModel

@{
    ViewBag.Title = "Manage User";
}

<h2>Manage User</h2>

<div class="panel panel-primary" id="userDetails">
    <div class="panel-heading">
        <h4 >User Details</h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(m => m.Id)
            @Html.DisplayFor(m => m.Id)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Username)
            @Html.DisplayFor(m => m.Username)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.DisplayFor(m => m.Email)
        </div>
        <div class="form-group">
            <div class="control-label">Status</div>
            <div class="control">
                @if (Model.EmailVerified)
                    {
                    <i class="fa fa-3x fa-envelope"></i>
                    }
                @if (Model.HasValidPassword)
                    {
                    <i class="fa fa-3x fa-key"></i>
                    }
                @if (Model.AccountLocked)
                    {
                    <i class="fa fa-3x fa-lock"></i>
                    }
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" id="roles">
    <div class="panel-heading">
        <h3 class="panel-title">Roles</h3>
    </div>
    <div class="panel-body">
        @foreach (var role in Model.Roles)
            {
            <span class="tag label label-primary">
                <span>@role</span>
                <a href="@Url.Action("RemoveRole", new {id = Model.Id, role})">
                    <i class="remove fa fa-times-circle icon-white"></i>
                </a>
            </span>
            }
    </div>
</div>

<div class="panel panel-danger" id="addRole">
    <div class="panel-heading">
        <h3 class="panel-title">Add Role</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("AddRole", "UserAdministration"))
            {
            @Html.AntiForgeryToken()
            <div class="row">
                @Html.ValidationSummary()
                <div class="col-xs-3">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.RoleToAdd, Model.RolePicker, new {@class = "form-control"})
                    </div>
                    @Html.HiddenFor(m => m.Id)
                </div>
                <div class="col-xs-9">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-plus"></i> Add Role
                        </button>
                    </div>
                </div>
            </div>
            }
    </div>
</div>