@model MS.Gamification.ViewModels.MissionProgressViewModel

@{
    ViewBag.Title = "Mission Progress";
    var levels = new int[] { 1 };
    var levelNames = new[] { "Monkton Stargazer" };
}

<ul class="nav nav-tabs">
    @foreach (int level in levels)
        {
        var liClass = level == 1 ? "active" : string.Empty;
        var levelId = $"#level{level}";
    <li class="@liClass">
        <a data-toggle="tab" href="@levelId">@levelNames[level - 1]</a>
    </li>
        }
</ul>

<div class="tab-content">

    @foreach (int level in levels)
        {
        var levelId = $"level{level}";
        var activeClass = level == 1 ? " active" : string.Empty;
        var tabClasses = $"tab-pane fade in{activeClass}";
        <div class="@tabClasses" id="@levelId">

            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row level">
                        <div class="col-md-2">
                            <h3 >Level @level</h3>
                        </div>
                        <div class="col-md-4">
                            <h3 >@levelNames[level - 1]</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="progress" role="progressbar">
                                <div class="progress-bar-warning progress-striped" style="width: @Model.OverallProgressPercent%">
                                    Level @Model.OverallProgressPercent% complete
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var track in Model.Tracks)
                {
                var trackPercentComplete = Model.TrackProgress[track.Number - 1];
                <div class="panel panel-info">
                    <div class="panel-heading track">
                        <div class="row trackHeader">
                            <div class="col-md-6">
                                <h3 >Track @track.Number: @track.Name</h3>
                            </div>
                            <div class="col-md-6">
                                <div class="progress">
                                    <div class="progress-bar progress-success" role="progressbar" style="width: @trackPercentComplete%">
                                        @trackPercentComplete% complete
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row trackContent">
                            <div class="col-md-10 challenges">
                                @foreach (var challenge in track.Challenges)
                                    {
                                    <div class="row challenge">
                                        <div class="col-md-4">@challenge.Name</div>
                                        <div class="col-md-4">
                                            <a>Details</a>
                                        </div>
                                        <div class="col-md-3">
                                            <i class="fa fa-square-o"></i>
                                            @challenge.Points points
                                        </div>
                                        <div class="col-md-1">
                                            <a class="btn btn-sm btn-info"
                                                href="@Url.Action("SubmitObservation", new { controller = "Observation", id = challenge.Id })">
                                            Log <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    }
                            </div>
                            <div class="col-md-2 badge">
                                <i class="fa fa-4x fa-android"></i>
                            </div>
                        </div>
                    </div>
                </div>
                }
        </div>
        }
</div>