@using RazorEngine
@using MS.Gamification.EmailTemplates
@inherits RazorEngine.Templating.TemplateBase<ObservingSessionReminderEmailModel>
@{
    Layout = "EmailLayout.cshtml";
}

<h2>Reminder: @Model.Session.Title</h2>
<p>
    Venue: @Model.Session.Venue
    Starts at: @Model.Session.StartsAt
</p>
<p>
    @Model.Session.Description
</p>

<p>
    For more information about @Model.ApplicationName, please see
    <a href="@Model.InformationUrl">the @Model.ApplicationName web site</a>.
</p>