@using RazorEngine
@using MS.Gamification.EmailTemplates
@inherits RazorEngine.Templating.TemplateBase<VerificationTokenEmailModel>
@{
    Layout = "EmailLayout.cshtml";
}
<p>
    A password reset has been requested on your account at @Model.ApplicationName.
    If this is unexpected, then simply delete this email and no change will be made to your account.
</p>
<p>
    To reset your password, please click the button to proceed.
</p>

@*
    Callback button using the "Border + Padding" technique,
    see: https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design
*@
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" style="-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" bgcolor="#e9703e">
                        <a href="@Model.CallbackUrl"
                           target="_blank"
                           style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 12px 18px; border: 1px solid #e9703e; display: inline-block;">
                            Reset my password &rarr;
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
@* End button *@

<p>
    For more information about @Model.ApplicationName, please see
    <a href="@Model.InformationUrl">the @Model.ApplicationName web site</a>.
</p>