@using MS.Gamification.HtmlHelpers
@model ObservationDetailsViewModel

@{
    ViewBag.Title = "Observation Details";
}

<div class="row" id="challenge">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="panel-body">
            <h3>@Model.ChallengeName</h3>
        </div>
    </div>
</div>

<h2>Observation Details</h2>
<h3>Submitted by: @Model.UserName</h3>

<div class="row" id="observation">
    <div id="leftForm" class="col-md-8">
        <div class="row">
            <dl class="dl-horizontal">
                <dt>@Html.LabelFor(model => model.ObservationDateTimeUtc)</dt>
                <dd>@Html.DisplayFor(model => model.ObservationDateTimeUtc)</dd>
                <dt>@Html.LabelFor(model => model.Equipment)</dt>
                <dd>@Html.DisplayFor(model => model.Equipment)</dd>
                <dt>@Html.LabelFor(model => model.ObservingSite)</dt>
                <dd>@Html.DisplayFor(model => model.ObservingSite)</dd>
                <dt>@Html.LabelFor(model => model.Seeing)</dt>
                <dd>@Html.DisplayFor(model => model.Seeing)</dd>
                <dt>@Html.LabelFor(model => model.Transparency)</dt>
                <dd>@Html.DisplayFor(model => model.Transparency)</dd>
                <dt>@Html.LabelFor(model => model.Notes)</dt>
                <dd>@Html.DisplayFor(model => model.Notes)</dd>
</div>
    </div>
    <div id="spacer" class="col-md-1"></div>
    <div id="rightForm" class="col-md-3 form-horizontal">
        <div class="row" id="images">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    What I saw:
                </div>
                <div class="panel-body">
                        @Html.ValidationImage(Model.SubmittedImage, new {@class = "img-responsive img-circle"})
                </div>
            </div>
        </div>
    </div>
</div>
