@using MS.Gamification.HtmlHelpers
@model SubmitObservationViewModel
@{
    ViewBag.Title = "Submit Observation";
    ViewBag.ChallengeName = Model.Challenge.Name;
    Layout = "~/Views/Shared/ObservationLayout.cshtml";
}


@using (Html.BeginForm())
    {
    var labelStyle = new {@class = "control-label col-md-3"};
    var inputColumns = "col-md-9";
    var controlStyle = new {htmlAttributes = new {@class = "form-control"}};
    var validationStyle = new {@class = "text-danger"};
    @Html.AntiForgeryToken()
    <div class="row" id="form">
        @Html.ValidationSummary(true, "", new {@class = "text-danger col-md-12"})
        <div id="leftForm" class="col-md-8 form-horizontal">
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.ObservationDateTimeLocal, labelStyle)
                    <div class=@inputColumns>
                        @Html.EditorFor(model => model.ObservationDateTimeLocal, controlStyle)
                        @Html.ValidationMessageFor(model => model.ObservationDateTimeLocal, "", validationStyle)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Equipment, labelStyle)
                    <div class=@inputColumns>
                        @Html.DropDownListFor(model => model.Equipment, Model.EquipmentPicker, controlStyle)
                        @Html.ValidationMessageFor(model => model.Equipment, "", validationStyle)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ObservingSite, labelStyle)
                    <div class=@inputColumns>
                        @Html.EditorFor(model => model.ObservingSite, controlStyle)
                        @Html.ValidationMessageFor(model => model.ObservingSite, "", validationStyle)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Seeing, labelStyle)
                    <div class=@inputColumns>
                        @Html.DropDownListFor(model => model.Seeing, Model.SeeingPicker, controlStyle)
                        @Html.ValidationMessageFor(model => model.Seeing, "", validationStyle)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Transparency, labelStyle)
                    <div class=@inputColumns>
                        @Html.DropDownListFor(model => model.Transparency, Model.TransparencyPicker, controlStyle)
                        @Html.ValidationMessageFor(model => model.Transparency, "", validationStyle)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Notes, labelStyle)
                    <div class=@inputColumns>
                        @Html.EditorFor(model => model.Notes, controlStyle)
                        @Html.ValidationMessageFor(model => model.Notes, "", validationStyle)
                    </div>
                </div>
            </div>
        </div>
        <div id="spacer" class="col-md-1"></div>
        <div id="rightForm" class="col-md-3 form-horizontal">
            <div class="row" id="images">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        What I Saw:
                    </div>
                    <div class="panel-body">
                        @foreach (var imageFile in Model.ValidationImages)
                            {
                            <div class="col-md-5 panel panel-info">
                                @Html.ValidationImage(imageFile, new {@class = "img-responsive img-circle"})
                                @Html.RadioButtonFor(model => model.SubmittedImage, imageFile) Select
                            </div>
                            }
                        @*<div class="col-md-1"></div>
                        <div class="col-md-5 panel panel-danger">
                            <h3>Image 2</h3>
                            @Html.RadioButton("Image", 2) Select
                        </div>
                        <div class="col-md-5 panel panel-danger">
                            <h3>Image 3</h3>
                            @Html.RadioButton("Image", 3) Select
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 panel panel-danger">
                            <h3>Image 4</h3>
                            @Html.RadioButton("Image", 4) Select
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="row" id="submit">
                <input type="submit" value="Submit Observation" class="btn btn-warning"/>
            </div>
        </div>
    </div>
    }