@model MissionLevel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MissionLevel</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mission.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mission.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwardTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precondition)
        </dt>

        <dd>
            <textarea id="precondition">
                @Html.DisplayFor(model => model.Precondition)
            </textarea>
        </dd>
    </dl>


    @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        <div class="validation-summary">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
        }
</div>

@section Scripts
{
    @Scripts.Render("~/Scripts/preconditionReadOnly");
}
@section styles
{
    @Styles.Render("~/Content/codeMirror.css");
}
