<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Star Quest", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("My Profile", "Index", "UserProfile")</li>
                <li>@Html.ActionLink("My Missions", "Progress", new {controller = "Mission", id = 1})</li>
                <li>@Html.ActionLink("My Observations", "Index", "Observation")</li>
                @if (User.IsInRole("Administrator"))
                    {
                    <li>
                        @Html.RouteLink("Admin Dashboard", "Admin_default", new {controller="UserAdministration", action="Index"})
                    </li>
                    }
            </ul>
            @{
                Html.RenderAction("ModerationQueue", "Notification", new {area=string.Empty});
            }
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>