<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Star Quest </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@Html.Partial("NavbarPartial")

<div class="container body-content">
    <div class="row" id="challenge">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Submit Observation</h2>
            </div>
            <div class="panel-body">@ViewBag.ChallengeName</div>
        </div>
    </div>

    @RenderBody()
    @if (IsSectionDefined("moderator"))
        {
        @RenderSection("moderator");
        }
    <hr/>

    <footer>

        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
@Html.Partial("Analytics")
</body>
</html>