@model Mission

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precondition)
        </dt>

        <dd>
            <textarea id="precondition">
                @Html.DisplayFor(model => model.Precondition)
            </textarea>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/codemirror-3.01/codemirror.js"></script>
    <script src="~/Scripts/codemirror-3.01/mode/xml.js" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">
        var editor = CodeMirror.fromTextArea(document.getElementById("precondition"),
            {
                mode: "xml",
                matchClosing: true,
                smartIndent: true,
                electricChars: true,
                readonly: true
            });
    </script>
}
@section styles
{
    <link href="~/Content/codemirror-3.01/codemirror.css" rel="stylesheet" type="text/css" />
}


